<div class="buttons-pannel">
  <button (click)="createTask()" class="btn btn-success">Agregar tarea</button>
</div>
<main class="mt-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Título</th>
        <th scope="col">Descripción</th>
        <th scope="col">Tarea completada</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ task.title }}
        </td>
        <td>{{ task.description }}</td>
        <td>{{ task?.done ?? false | booleanTransform }}</td>
        <td class="buttons-table">
          <a [routerLink]="['/see', task.id]">
            <button class="btn btn-secondary">Ver tarea</button>
          </a>
          <button (click)="changeDone(task)" class="btn btn-primary">
            {{ task?.done ? "Descompletar tarea" : "Completar tarea" }}
          </button>
          <button (click)="deleteTask(task)" class="btn btn-danger">
            Eliminar tarea
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</main>
